.background {
  height: 3500px;
  width: 100%;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/iss056e162811.jpg");
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-size: normal;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

#mapId {
  height: 400px;
  border: goldenrod solid 2px;
  background-color: none;
}

#mapBox {
  background: none;
  font-family: "Anton", sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.container {
  background: none;
  padding: 5px;
  margin: 5px;
}

.display-4 {
  font-family: "Questrial", sans-serif;
  font-size: 60px;
}

h2 {
  font-family: "Questrial", sans-serif;
  font-size: 35px;
}

.jumbotron {
  padding-top: 5px;
  padding-bottom: 20px;
  width: auto;
  margin: 10px;
  margin-top: 5px;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 25px;
  border: goldenrod solid 1px;
}

.issInfo {
  font-family: "Josefin Sans", sans-serif;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.table {
  height: 300px;
  overflow: auto;
}

.scrollit {
  overflow: scroll;
  height: 300px;
}

#apod1 {
  margin: 10px;
  max-height: auto;
  max-width: 100%;
}

.img {
  display: block;
  max-width: 100%;
}

.caption {
  height: 150px;
  overflow: scroll;
  margin: 40px;
  font-size: 20px;
  padding: 20px;
}

.apod {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  background: rgba(200, 200, 200, 0.3);
  border-radius: 25px;
  border: goldenrod solid 1px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin: 10px;
  max-height: auto;
  max-width: 100%;
}

.navbar {
  font-family: "Anton", sans-serif;
  font-size: 20px;
}

.page-footer {
  padding: 30px;
  width: auto;
  margin: 10px;
  margin-top: 10px;
  background: rgba(200, 200, 200, 0.4);
  border-radius: 25px;
  border: goldenrod solid 1px;
}


@media (max-width: 770px) {
  .background {
    height: 3000px;
  }
  .display-4 {
    font-family: "Questrial", sans-serif;
    font-size: 30px;
  }
  #issInfo {
    font-size: 15px;
  }
  #mapId {
    height: 600px;
  }
  h2 {
    font-size: 20px;
  }
 
  .rounded{
    max-width: 300px;
  }
  h5 {
    font-size: 15px;
  }


}
